*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;

}
main{
    background: #e78036;
    padding: 150px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    color:white
}
main h2{
    margin-bottom: 100px;
}
main > div{
    display: flex;
    margin: 100px 0;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
main div p{
    width: 25%;
    text-align: center;
}
main div img{
    width: 50%;
}
@media screen and (max-width: 820px) {
    main{
        font-size: 20px;
        padding: 40px;


    }
    main div{
        flex-direction: column;
        margin:50px 0
    }
    main div p{
        width: 80%;
    }
    main h2{
        margin-bottom: 50px;
    }
}